#sklep_smyk * {
    transition: stroke 1s, transform 1s;
}
.notActive {
    fill:#fff;
    stroke:#000;
    stroke-width:1px;
    transform: translateY(0px);
}
.active {
    fill: #fff;
    stroke: goldenrod;
    stroke-width:1px;
    transform: translateY(-50px);
}